<nav class="flex flex-wrap items-center justify-between px-2 py-3 fixed top-0 left-0 right-0 z-auto border-b"
    style="background-color: #f1f1f1;">
    <div class="w-full px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between">
            <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-black"
                href="/">
                Finance App
            </a>
            <div class="relative">
                <img *ngIf="userData.photoURL; else userIconBar" [src]="userData.photoURL" alt="profile img"
                    class="rounded-full w-10 h-10 cursor-pointer" (click)="toggleNavbar()" />
                <div *ngIf="showMenu"
                    class="fixed top-0 left-0 h-full w-full bg-white z-50 md:absolute md:top-auto md:left-auto md:right-0 md:mt-3 md:h-auto md:w-80 md:rounded-lg md:border-2">
                    <div class="p-4 flex items-center justify-between md:hidden">
                        <span>Account</span>
                        <button (click)="toggleNavbar()">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>

                    <div class="my-2 p-4 flex flex-row">
                        <img *ngIf="userData.photoURL; else userIconModal" [src]="userData.photoURL" alt="profile img"
                            class="rounded-full w-14 h-14 cursor-pointer" />
                        <div class="mx-5">
                            <p class="text-gray-800 text-xl">{{ userData.name }}</p>
                            <p class="text-gray-400 text-xs">{{ userData.email }}</p>
                        </div>
                    </div>

                    <ul class="py-1 md:py-0">
                        <li class="p-4">
                            <button
                                class="w-full h-9 py-1.5 px-4 cursor-pointer hover:bg-gray-color rounded-md flex items-baseline"
                                (click)="logout()">
                                <i class="fa-solid fa-sign-out mr-3"></i>
                                <span class="sidenav-link-text">Sign out</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<ng-template #userIconBar>
    <i class="fa-regular fa-circle-user rounded-full cursor-pointer" (click)="toggleNavbar()"
        style="font-size: 40px;"></i>
</ng-template>
<ng-template #userIconModal>
    <i class="fa-regular fa-circle-user rounded-full cursor-pointer" style="font-size: 56px;"></i>
</ng-template>