<div class="flex flex-col h-creen">
    <div class="flex w-full h-24 sticky top-0 p-4">
        <div class="w-full flex rounded-lg" style="background-color: #1f222508">
            <div class="p-4 flex flex-row gap-4">
                <p-toast></p-toast>
                <button type="button" (click)="isDialogVisible = true"
                    class="active:scale-[.98] active:duration-75 hover:scale-[1.01] ease-in-out transition-all py-1.5 px-4 rounded-lg text-white text-sm"
                    style="background-color: #1f22250f; color:#1f2225e6">
                    Crear cuenta
                </button>
            </div>
        </div>
    </div>
    <div class="p-4">
        <app-account-list></app-account-list>
    </div>
</div>

<p-dialog header="Create new account" [(visible)]="isDialogVisible" [modal]="true" [style]="{ width: '350px', 'box-shadow': '0px 0px 0px 0px transparent' }" [draggable]="false"
    [resizable]="false">
    <app-create-account (closeModal)="isDialogVisible = !$event"></app-create-account>
</p-dialog> 